.App {
  text-align: center;
}


:root {
  --main-background-color: #14380f;
  --main-background-color-muted: #303b2e;
  --secondary--background-color: #ffffff;
  --secondary--background-color-muted: #f6f3e3;

  --accent-text-color: #319636;
  --main-text-color: #fffdf2;
  --main-text-color-muted: #8f8ba9;
  --secondary-text-color: #14380f;
  --secondary-text-color-muted: #303b2e;

  --border-color: #1f271d;

  --nav-height: 3.5rem;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color-muted);
  color: var(--main-text-color);
  font-size: 1rem;
}


.Page {
  min-height: calc(100vh - var(--nav-height));
  padding: 5px;
  overflow: scroll;
}